<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>446906020898-4jibt7t5rjginmo0jpv0h0md8c51c5ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446906020898-4jibt7t5rjginmo0jpv0h0md8c51c5ff</string>
	<key>API_KEY</key>
	<string>AIzaSyATxbOICePxGH51Y3zfz1mqisEAWxPOmts</string>
	<key>GCM_SENDER_ID</key>
	<string>446906020898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WithMeTW.CoffeeWithMe</string>
	<key>PROJECT_ID</key>
	<string>coffeedate-b10c6</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeedate-b10c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446906020898:ios:13755bf3496d0be8</string>
	<key>DATABASE_URL</key>
	<string>https://coffeedate-b10c6.firebaseio.com</string>
</dict>
</plist>
